@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply font-Poppins scroll-smooth;
}

* {
  padding: 0;
  margin: 0;
}

#background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100dvw;
  box-sizing: border-box;
  display: block;
  background-color: #0a192f;
  background-image: linear-gradient(to bottom, rgba(10, 25, 47, 0.86), #0a192f);
}